.container {
    min-width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-picture-container {
    background-color: rgba(247, 200, 130, 0.793);
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 5% 5% 0;
    box-sizing: border-box;

}

.car-picture-container img {
    width: 80%;
    object-fit: contain;
    height: 60%;
}

.login-container {
    background-color: rgba(236, 236, 213, 0.918);
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5% 0 0 5%;
    box-sizing: border-box;
    padding: 0 5%;

}

.login-container span {
    text-align: center;
    margin: 0 auto;
}

.login-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    width: 100%;
}

.login-container form input {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    background-color: transparent;
    padding: 3%;
}

.login-container form .login-button {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    background-color: peru;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

.login-container a {
    color: peru;
}

.error {
    color: red;
    text-align: center
}

.car-picture-container button {
    height: 10%;
    width: 60%;
    background-color: peru;
    border: none;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

.admin-login-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-login-container .login-container {
    border-radius: 5%;
}

.back-button {
    width: 40%;
    height: 7%;
    border: none;
    margin: 0 60%;
    background-color: lightblue;
    border-radius: 5%;
    cursor: pointer;
}